:root {
  background: repeating-linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  color: hsl(238, 29%, 16%);
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body main {
  margin: 0;
  padding: 0;
}
body main .container {
  background: white;
  height: 100%;
  width: 28em;
  border-radius: 25px;
  margin: 13em auto 8em;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body main .container .hero {
  width: 80%;
  align-self: center;
}
body main .container .hero__img-mobile {
  margin-top: -10em;
}
body main .container .hero__img-desktop {
  display: none;
}
body main .container .hero__bg-mobile {
  margin: -7em auto 0;
  width: 100%;
}
body main .container .hero__bg-desktop {
  display: none;
}
body main .container .faq {
  display: flex;
  flex-direction: column;
  margin: 0 2em 2em;
}
body main .container .faq__title {
  align-self: center;
  font-size: 3rem;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}
body main .container .faq__body {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1.5em;
}
body main .container .faq__body .q {
  font-size: 1.125rem;
  color: hsl(237, 12%, 33%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 400;
  cursor: pointer;
}
body main .container .faq__body .q svg {
  color: hsl(14, 88%, 65%);
}
body main .container .faq__body .q:hover {
  color: hsl(14, 88%, 65%);
}
body main .container .faq__body .a {
  display: none;
  color: hsl(240, 6%, 50%);
  margin-right: 2em;
}
body main .container .faq__body hr.solid {
  height: 1px;
  background-color: hsl(240, 5%, 91%);
  border: 0;
  margin: 1.5em 0;
}
body main .container .faq__body .active {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}
body main .container .faq__body .show {
  display: block;
}
body footer.attribution {
  display: none;
}

@media only screen and (min-width: 1440px) {
  :root {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  body main .container {
    height: 67vh;
    width: 65vw;
    border-radius: 25px;
    margin: 10.5em 0 0 22em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body main .container .hero {
    width: 80%;
    align-self: center;
  }
  body main .container .hero__img-mobile {
    display: none;
  }
  body main .container .hero__img-desktop {
    display: block;
    margin-left: -7em;
    -o-object-fit: contain;
       object-fit: contain;
    overflow: hidden;
  }
  body main .container .hero__bg-mobile {
    display: none;
  }
  body main .container .hero__bg-desktop {
    display: none;
    margin: -47em -44em;
    height: 100%;
  }
  body main .container .faq {
    margin: 0 8em;
    width: 50%;
  }
  body main .container .faq__title {
    align-self: flex-start;
  }
  body main .container .faq__body .q {
    font-size: 1.2rem;
    width: 26em;
  }
  body main .container .faq__body .q svg {
    margin-right: 1em;
  }
  body main .container .faq__body .a {
    display: none;
    color: hsl(240, 6%, 50%);
    margin-right: 3em;
  }
  body main .container .faq__body .active {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
  }
  body main .container .faq__body .show {
    display: block;
  }
  body footer.attribution {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (min-width: 1920px) {
  :root {
    font-size: 16px;
  }
  body main .container {
    width: 60vw;
    margin: 11em 0 0 23em;
  }
  body main .container .hero {
    width: 100%;
  }
  body main .container .hero__img-desktop {
    width: 110%;
    margin-left: -7em;
  }
  body main .container .faq {
    margin: 0 7em;
  }
  body main .container .faq__body .q {
    font-size: 0.9rem;
  }
  body main .container .faq__body .a {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */